name: "Deep Sky Workflows"
title: "Deep Sky Workflows: Astrophotography, Space, and Astronomy"
email: jeremy@dswgalleries.com
description: >- # this means to ignore newlines until "baseurl:"
  Astrophotography for everyone: images, videos, and articles about space, nebulae, 
  galaxies, planets, telescopes, and how to take and process deep space images from 
  your own backyard.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://deepskyworkflows.com" # the base hostname & protocol for your site, e.g. http://example.com
logo: "/assets/images/logo.png"
include: ["_pages", "_gallery", "_redirects"]
twitter_username: DeepSkyWorkflow
github_username:  DeepSkyWorkflows
disqus: "deep-sky-workflows"

# Build settings
theme:
plugins:
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag

portfolios: ["Cayman Collection", "Comets", "Full moons", "Heybrook Lookout", "Monroe Washington", "Moon", "Florissant Fossil Beds", "Index Washington", "Otter Rock", "Newport Oregon", "Total Solar Eclipse 2024"]
permalink: /:title/
galleryhome: https://www.artworkarchive.com/profile/dswgalleries/

# Authors
authors:
  deepskyworkflows:
    name: Jeremy Likness
    display_name: Jeremy Likness
    twitter: DeepSkyWorkflow
    avatar: "assets/images/jeremyliknessavatar.jpg"
    email: deepskyworkflows@gmail.com
    web: https://deepskyworkflows.com/
    description: "Astrophotographer Jeremy Likness has always been interested in the mysteries of deep space, but only recently began to explore them through astrophotography."
    picture: /assets/images/jeremyliknessavatar.jpg

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
    
# Feed
feed:
  posts_limit: 9999
  collections:
    gallery:
      path: "/gallery.xml"
      posts_limit: 9999

# Twitter
twitter:
  username: DeepSkyWorkflow
  card: summary_large_image
    
facebook:
  publisher: https://www.facebook.com/DeepSkyWorkflows/

# Pagination 
paginate: 6
paginate_path: /page:num/

# social
social:
  name: Jeremy Likness
  links:
    - https://deepskyworkflows.com/
    - https://dswgalleries.com
    - https://twitter.com/DeepSkyWorkflow
    - https://instagram.com/DeepSkyWorkflows
    - https://facebook.com/DeepSkyWorkflows/
    - https://github.com/DeepSkyWorkflows
    - https://youtube.com/@DeepSkyWorkflows 
    - https://www.threads.net/@deepskyworkflows
    - https://www.astrobin.com/users/DeepSkyWorkflows/collections/

    
# Other
markdown: kramdown

adsense: disabled

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

exclude: [docker-compose.yml, external, README.md, Gemfile, Gemfile.lock]

collections:
  resources:
  gallery:
    output: true
    permalink: /gallery/:title/
  videos:
    output: true
    permalink: /video/:title/    
  tags:
    output: true
    permalink: /tag/:title/
  
defaults:
  - scope:
      path: ""
      type: "gallery"
    values:
      layout: "gallery"
      author: "deepskyworkflows"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "videos"
      author: "deepskyworkflows"
      comments: true
      toc: false 
  - scope:
      path: ""
      type: "tags"
    values:
      layout: "tagpage"
      author: "deepskyworkflows"