---
layout: default
title: Deep sky astrophotography
image: "assets/images/logo-large.jpg"
author: "deepskyworkflows"

---

{% if page.url == "/" %}

    <section>
        <div class="section-title">
            <h3>Welcome to Deep Sky Workflows!</h3>
            <p>My name is <a href="/about">Jeremy Likness</a> and DeepSkyWorkflows is the website I created to express and share my passion for astrophotography. From the hundreds of photographs I've taken using amateur equipment from my backyard
            to instructional materials and videos, my goal is to provide everything you need to appreciate astrophotography and, if you're interested, try it out on your own.</p>
        </div>        
    </section>

    <section>
        <div class="section-title">
            <h2><span>Gallery</span></h2>
        </div>
        {% include gallery-random.html %}  
        &raquo;<a href="/gallery">Visit the gallery</a>  
    </section>

    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Recent posts</span></h2>
        </div>
        <div class="row">
        {% assign count = 0 %}
        {% assign posts_to_feature = site.posts | sort: 'date' | reverse %}
        {% for post in posts_to_feature %}      
        {% assign count = count | plus: 1 %}
        {% if count < 3 %}
                {% include featuredbox.html %}
        {% else %}
            {% if count == 3 %}
            <ul>
            {% endif %}
            {% if count <= 5 %}
            <li>
                {% assign href = site.baseurl | append: post.url %}
                <a href="{{ href }}" alt="{{ post.description }}"
                title="{{ post.description }}">
                    <strong>{{ post.date | date_to_string }}</strong>&mdash;{{ post.title }}
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
        </div>
    </section>

    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Recent videos</span></h2>
        </div>
        <div class="row">
        {% assign count = 0 %}
        {% assign videos_to_feature = site.videos | sort: 'date' | reverse | limit: 7 %}
        {% for post in videos_to_feature %}      
        {% assign count = count | plus: 1 %}
        {% if count == 1 or count == 2  or count == 3 or count == 4 %}
                {% include videobox.html %}
        {% else %}
            {% if count == 5 %}
            <ul>
            {% endif %}
            {% if count <= 7 %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url}}" alt="{{ post.description }}"
                title="{{ post.description }}">
                    <strong>{{ post.date | date_to_string }}</strong>&mdash;{{ post.title }}
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
        </div>
        &raquo;<a href="/videos">See all videos</a>        
    </section>

{% endif %}

<section>
    <p>Browse the comprehensive <a href="/tags">topic index</a> to find content you are interested in.</p>
</section>

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2 id="AllStories">
            <a name="AllStories"></a>
            <span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

