<div class="footer-rotator footer-rotator-anim-in">
    <p>
        <a href="https://dswgalleries.com">DSW Galleries</a>    
    </p>    
</div>
<footer class="footer">
    <div class="top-button">
        <a href="#dsw-top">
            <i class="fa fa-arrow-up"></i>Back to top.
        </a>        
    </div>
    <div>
        {%- include social.html -%}
    </div>
    <div>
        Copyright © {{ site.time | date: "%Y" }} <a href="https://www.dswgalleries.com/" target="_blank">DSW Galleries, LLC</a> 
        Last build:  {{ site.time | date: "%Y-%m-%d %H:%M" }}
    </div>
    <div>
        ⚠ <a href="https://dswgalleries.com/contact/">Contact us/report an issue with the site</a>
    </div>            
</footer>