<nav class="navbar navbar-expand-lg fixed-top topbar nav-down">

    <a class="logo" href="{{ site.baseurl }}/">
        {%- assign logo = site.baseurl | append: site.logo | absoluteurl -%}
        <img src="{{ logo }}" class="logo" alt="{{ site.name }}" />
    </a>

    <div class="hamburger" data-toggle="collapse" data-target="#navBarNested" 
    role="button"
    aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </div>

    <div class="collapse navbar-collapse" id="navBarNested">

        <ul class="navbar-nav ml-auto">
            
            {%- if page.url == "/" or page.url contains "/page" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/index.html#AllStories"><i class="fa fa-file fa-fw"></i>
                    Blog</a>
            </li>

            {%- if page.url contains "/gallery" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/gallery"><i class="fa fa-image fa-fw"></i> Gallery</a>
            </li>

            {%- if page.url contains "/video" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/videos"><i class="fa fa-youtube fa-fw"></i> Videos</a>
            </li>

            {%- if page.url contains "/about" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/about"><i class="fa fa-address-card fa-fw"></i> About</a>
            </li>

            {%- if page.url contains "/resources" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/resources"><i
                        class="fa fa-wrench fa-fw"></i> Resources and Tools</a>
            </li>

            {%- if page.url contains "/search" -%}
            <li class="nav-item active">
                {%- else -%}
            <li class="nav-item">
                {%- endif -%}
                <a class="nav-link" href="{{ site.baseurl }}/search"><i
                        class="fa fa-search fa-fw"></i> Search</a>
            </li>
        </ul>      
    </div>    
</nav>