{%- if page.url contains "/search" -%}
{%- assign post = "" | split: "," -%}
{%- assign taglist = "" | split: "," -%}
{%- for item in site.gallery -%}
    {%- for tag in item.tags -%}
        {%- assign tag = tag | remove: '"' -%}
        {%- assign taglist = taglist | push: tag -%}                            
    {%-  endfor -%}    
{%- endfor -%}
{%- for item in site.posts -%}
    {%- for tag in item.tags -%}
        {%- assign tag = tag | remove: '"' -%}        
        {%- assign taglist = taglist | push: tag -%}                    
    {%- endfor -%}        
{%- endfor -%}
{%- for video in site.videos -%}
    {%- for tag in video.tags -%}
        {%- assign tag = tag | remove: '"' -%}        
        {%- assign taglist = taglist | push: tag -%}                    
    {%- endfor -%}        
{%- endfor -%}
{%- assign sortedTags = taglist | uniq | sort -%}
<script id="tag-list" type="text">
    {%- for tag in sortedTags -%}{{ tag }}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}
</script>
{% else %}
<li class="nav-item active">
    <a target="_blank" class="nav-link" href="{{ site.baseurl }}/search"><i class="fa fa-search"></i> Search</a>
</li>
{% endif %} 