<div class="share sticky-top sticky-top-offset">
    <p>
        <strong>Share</strong>
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i> LinkedIn
            </a>
        </li>

    </ul>  
    
    {% assign gallery = "" | split: "," %}
    {% for item in site.gallery %}
        {% for tag in item.tags %}
            {% assign gtag = tag | capitalize | strip %}
            {% for posttag in page.tags %}
                {% assign ptag = posttag | capitalize | strip %} 
                {% if gtag == ptag %}
                    {% assign gallery = gallery | push: item %}                    
                {% endif %}
            {% endfor %}
        {% endfor %}    
    {% endfor %}
    {% if gallery %}
        <hr/>
        <p><strong>Gallery</strong></p>
        {% assign sorted = gallery | uniq | sort: "title" %}
        {% for item in sorted %}
            {% assign mainUrl = site.baseurl | append: item.url %}            
            {% assign thumbPath = site.baseurl | append: "/assets/images/gallery/" | append: item.folder | append: "/thumb.jpg" %}
            <div class="card gallery-card mw-100">
                <a href="{{mainUrl}}" title="{{item.description}}">
                    <img class="card-img-top gallery-img" src="{{thumbPath}}" alt="{{item.description}}">
                </a>
                <div class="card-header bg-light text-center">
                    <a href="{{mainUrl}}" title="{{item.description}}">{{item.title}}</a>
                </div>                
            </div>        
        {% endfor %}
    {% endif %}
    <hr/>
    <p>
        <strong>Browse</strong>
    </p>  
    <ul>
        <li class="ml-1 mr-1">
            <a  href="/categories">
                <i class="fa fa-list-ol"></i> Categories
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a  href="/tags">
                <i class="fa fa-tags"></i> Tags
            </a>
        </li>

    </ul>
</div>
