<a href="https://facebook.com/DeepSkyWorkflows" title="Facebook">
    <i class="fab fa-facebook"></i>
</a>&nbsp;
<a href="https://www.astrobin.com/users/DeepSkyWorkflows/" title="AstroBin">
    <i class="fa fa-image"></i>
</a>&nbsp;
<a href="https://github.com/DeepSkyWorkflows" title="GitHub">
    <i class="fab fa-github"></i>
</a>&nbsp;<a href="https://instagram.com/DeepSkyWorkflows" title="instagram">
    <i class="fab fa-instagram"></i>
</a>&nbsp;
<a href="https://twitter.com/DeepSkyWorkflow" title="Twitter">
    <i class="fab fa-twitter"></i>
</a>&nbsp;
<a href="https://www.youtube.com/c/DeepSkyWorkflows" title="YouTube">
    <i class="fab fa-youtube"></i>
</a>&nbsp;