{% if include.RA %}
http://worldwidetelescope.org/webclient/?wtml=http%3A%2F%2Fwwtcoreapp-data-app.azurewebsites.net%3A80%2Fwwtweb%2FShowImage.aspx%3Freverseparity%3DFalse%26scale%3D0.270069%26name%3Dpillars-of-creation.jpg%26imageurl%3Dhttps%3A%2F%2Fnova.astrometry.net%2Fimage%2F13924520%26credits%3DAstrometry.net%2BUser%2B(All%2BRights%2BReserved)%26creditsUrl%3D%26ra%3D274.813775%26dec%3D-13.732041%26x%3D313.9%26y%3D2377.4%26rotation%3D156.04%26thumb%3Dhttps%3A%2F%2Fnova.astrometry.net%2Fimage%2F13924526%26wtml%3Dtrue
{% endif %}

http://worldwidetelescope.org/webclient/?name=M3.jpg&imageurl=https://deepskyworkflows.com/assets/images/gallery/m3-2022/m3-2022.jpg&ra=205.5317&dec=28.38337&x=632&y=417&wtml=false
