input {
    background-color: #2b2b2b;
    border: solid 1px #535353;
    color: white;
    padding:  0.2rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
}

select {
    background-color: #2b2b2b;
    border: solid 1px #535353;
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
}
