.main-article h2, .main-article h3, .main-article h4 {
    margin-right: 0.5rem;
    break-before: always;
    clear: both;    
}

div.main-article {
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 1rem;    
}

@media only screen and (min-width: 1024px) {
    div.main-article {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 1600px) {
    div.main-article {
        width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
}

img.feature-image {
    width: 90%;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

@media only screen and (min-width: 1024px) {
    img.feature-image {
        max-height: 40vh;
        object-fit: contain;
    }
}

div.main-article img {
    max-width: 100%;
}

div.main-article iframe {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    margin: 0.5rem;
}

@media screen and (min-width: 768px) {
    div.main-article iframe {
        width: 560px;
        height: 315px;
    }    
}

@media screen and (min-width: 1200px) {
    div.main-article iframe {
        width: 800px;
        height: 450px;
    }        
}

@media screen and (min-width: 1600px) {
    div.main-article iframe {
        width: 1200px;
        height: 675px;
    }            
}

small {
    margin-left: 0.5rem;
}

div.post-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    overflow: hidden;    
    break-before: always;
}

img.post-image {
    max-width: 95%;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
    img.post-image {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    img.post-image {
        max-height: 40vh;
        object-fit: contain;
    }
}

div.post-image-description {
    font-size: 0.8rem;
    text-align: center;
    flex-basis: 100%;
}

a.stretched-link {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    img.post-image {
        max-height: 40vh;
        object-fit: contain;
    }

}

div.post-image-description {
    font-size: 0.8rem;
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
}

div.main-article li {
    text-indent: -0.3rem;
    padding-left: 0.2rem;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tags a {
    flex-basis: content;
    margin-right: 0.5rem;
}

.post-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.post-stats small {
    flex-basis: 30%;
    text-align: center;
}

.post-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prev, .next {
    flex-basis: 100%;
}

@media only screen and (min-width: 1024px) {
    .prev, .next {
        flex-basis: 50%;
    }

    .next {
        text-align: right;
    }    
}

.table-wrapper table {
    background: #515151;
    color: white;    
    border-radius: 0.5rem;
}

@media only screen and (min-width: 1200px) {
    .table-wrapper table {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

}

.table-wrapper table th {
    background: white;
    color: #2b2b2b;
    padding: 0.5rem;
    border-left: solid 1px #515151;
    border-right: solid 1px #515151;
}

.table-wrapper table td {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-left: solid 1px #2b2b2b;
    border-right: solid 1px #2b2b2b;
}

.table-wrapper table tr {
    border-bottom: solid 1px white;
}

table.rouge-table {
    width: 100%;    
}

@media only screen and (min-width: 1200px) {
    table.rouge-table {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

}

td.rouge-code, td.rouge-gutter {
    font-family: 'DaggerSquare', 'Roboto', 'Consolas', monospace, sans-serif;
    background: white;
    color: #2b2b2b;
}