div.search-status {
    margin-top: 1rem;
}

progress.search-progress {
    height: 2rem;
    width: 100%;  
    border-radius: 0.5rem;
}

div.search-results {
    margin-top: 1rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.search-result {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #515151;
    border-radius: 0.5rem;
}

@media only screen and (min-width: 800px) {
    div.search-result {
        flex-basis: 28%;
        margin: 1rem;        
    }
 }

@media only screen and (min-width: 1024px) {
    div.search-result {
        flex-basis: 300px;
        width: 100%;
        overflow: hidden;
    }
}

img.search-result-thumb {
    max-height: 256px;
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

img.search-result-image {    
    max-height: 256px;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.search-result a {
    flex-basis: 100%;
}

.search-result p {
    text-align: justify;
    font-size: 0.8rem;
    flex-basis: 100%;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result small {
    float: right;
    flex-basis: content;
}