body {
    background: black;
    color: lightgreen;
    font-family: Consolas, Open Sans Serif, sans-serif
}

input {
    float: left;
}

button {
    border: solid gray 2px;
    padding: 0.3em;
    font-weight: bold;
    background-color: black;
    color: lightgreen;
}

button:hover {
    background-color: rgba(0, 64, 0, 1);    
}

.thumbnail {
    float: left;
    width: 32px;
    margin-right: 2px;
}

.d-none {
    display: none;
}

.outerprogress {
    height: 16px;
    background: #4d5d53;
    padding: 3px;
    width: 91vw;
}

.slide {
    float: left;
}

#slides {
    align-items: center;
    align-content: center;
}

.innerprogress {
    background: green;
    border: solid darkgreen 2px;
    height: 10px;
}

.divider {
    clear: both;
}

.head {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 1em;
}

.label {
    font-weight: bold;
    width: auto;
}

.group {
    max-width: 70vw;
}

.form-field {
    padding: 0.3em;
    float: left;
    margin-right: 1em;
}

.wide {
    width: 96vw;
    margin-left: 2vw;
    max-height: 96vh;
    align-self: center;
    object-fit: contain;    
}

.tall {
    height: 96vh;
    margin-left: 15vw;
    margin-top: 2vh;
    max-width: 70vw;
    align-self: center;
    object-fit: contain;
}

a {
    color: lightgreen;
}

.playing {
    color: green;
    font-size: 2em;
}

.stopped {
    color: red;
    font-weight: bold;
    font-size: 2em;
}

#titleDiv {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}

#descriptionDiv {
    position: absolute;
    left: 25vw;
    top: 90vh;
    margin-right: 10vw;
    font-size: 0.9em;    
    background-color: rgba(0,0,0,0.3);
    text-align: right;
    text-overflow: ellipsis;
}

#controlSwitchDiv {
    position: absolute;
    right: 2em;
    top: 2em;
    cursor: pointer;
}

#controlPanelDiv {
    position: absolute;
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 25vh;
    font-size: 0.9em;
    background: rgba(0,0,0,0.5);
    text-align: center;
    align-items: center;
}

#notifyDiv {
    position: absolute;
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 5vh;
    font-size: 3em;
    color: gray;
    background: rgba(0,0,0,0.5);
    text-align: center;
    align-items: center;
    z-index: 99 !important;
}

#time {
    color: orange;
}