div.triggerAnimation {
    opacity: 1.0;
}

div.bg-image-container {
    cursor: pointer;
}

div.header {
    position: absolute;
    left: 5vw;
    top: 10vh;
    width: 90vw;
    height: 80vh;
}

div.site-content {
    height: 1px;
    overflow: hidden;
}

.slideTitle {
    position: absolute;
    font-size: 1.2rem;
    color: #FFFFFF80;
    transition: all 0.3s 0.2s ease-in-out;
    left: 6vw;
    top: 15vh; 
}

@media only screen and (min-width: 900px) {
    .slideTitle {
        font-size: 1.7rem;
        left: 10vw;
    }
}

@media only screen and (min-width: 1024px) {
    .slideTitle {
        left: 15vw;
    }
}

@media only screen and (min-width: 1600px) {
    .slideTitle {
        font-size: 3rem;
        left: 20vw;
    }
}

.slideTitle.disabled {
    left: -100vw;
    top: -100vh;
}

