---
title: "Categories"
layout: default
permalink: "/categories.html"
---

{% assign categorylist = site.categories | sort %}
<div class="row">
    <div class="col-12">
        <a name="top"></a>
        <h1 class="text-center">Categories</h1>
        <p class="text-center">{% for category in categorylist %}<a href="#{{ category[0] | replace: " ","-" }}">{{ category[0] }}</a>{% unless forloop.last %} | {% endunless %}{% endfor %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 card-deck">
        {% for category in categorylist %}
        <div class="card bg-dark m-1">
            <a name="{{ category[0] | replace: " ","-" }}"></a>
            <div class="card-header text-center">
                <h5 class="card-title"><a href="/categories/{{ category[0] | replace: " ","-" }}">{{ category[0] }}</a></h5>
            </div>
            <div class="card-body bg-light">
                <p class="card-text alert alert-info">{{ category[1].size }} posts</p>
                {% assign pages_list = category[1] | sort: 'title' %}
                {% for post in pages_list %}
                {% if post.title != null %}
                <p class="text-center small"><strong>
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                </strong></p>
                {% endif %}
                {% endfor %}
                <p class="card-text text-right"><a href="#top">Back to top</a></p>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>

