<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="deepskyworkflows:version" content="{{ site.time | date: '%Y-%m-%d'}}"/>
    <meta name="deepskyworkflows:gallery-home" content="{{ site.galleryhome }}"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">    
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    {%- if page.permalink -%}
        {%- if page.permalink == "/gallery/" -%}
            <link type="application/atom+xml" rel="alternate" href="{{ site.baseurl }}/gallery.xml" title="Photographs of deep sky objects: nebulae, galaxies, stars and star clusteres, plus planets and Milky Way pictures." />
        {%- endif -%}
        {%- seo -%}
        {%- if page.image -%}
            <link ref="twitter:image:src" content="{{ site.baseurl }}/{{ page.image }}"/>
        {%- endif -%}
        {%- if page.description -%}
            <meta name="description" content="{{ page.description }}">
            <link ref="twitter:description" content="{{ page.description }}"/>
        {%- endif -%}
    {%- endif -%}
{%- feed_meta -%}
    <link href="{{ site.baseurl }}/assets/css/includes/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/includes/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/deepskies.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/includes/jquery-3.2.1.min.js"></script>
    <title>{{ page.title }} | Deep Sky Workflows by Jeremy Likness</title>
    <script>
        window.dsw = {
            baseurl: "{{ site.baseurl }}",
            galleryhome: "{{ site.galleryhome }}",
            deferredQueue: ["site.js"],
            request: files => window.dsw.deferredQueue = [...window.dsw.deferredQueue, ...files]
        };        
    </script>
    {%- if page.depends -%}
    <script>
        window.dsw.request([{%- for file in page.depends -%}
            "{{ file }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]);
    </script>
    {%- endif -%}
</head>
{%- capture layout -%}{%- if page.layout -%}layout-{{ page.layout }}{%- endif -%}{%- endcapture -%}
<body class="{{layout}}">

    {%- include navigation.html -%}
    {%- include header.html -%}

    <div class="site-content">       
        <div class="main-content">
            {{ content }}
        </div>
    </div> <!-- /.site-content -->

    {%- include footer.html -%}    

    <div class="bg-image-container">
        <div class="bg-image-top">&nbsp;</div>
        <div class="bg-image-back"></div>
    </div>

    <script src="{{ site.baseurl }}/assets/js/includes/bootstrap.bundle.min.js"></script>    
    <script src="{{ site.baseurl }}/assets/js/loader.js"></script>  
</body>
</html>