---
layout: default
---

{%- assign loadingImg = site.baseurl | append: "/assets/images/loading.gif" -%}
{%- assign folderPath = site.baseurl | append: "/assets/images/gallery/" | append: page.folder | append: "/" -%}
{%- assign mainImage = folderPath | append: page.folder | append: ".jpg" -%}
{%- assign annotated = folderPath | append: page.folder | append: "-annotated.jpg" -%}
{%- assign nostars = folderPath | append: page.folder | append: "-nostars.jpg" -%}
{%- assign fullsize = folderPath | append: page.folder | append: "-annotated-fs.jpg" -%}
{%- assign grid = folderPath | append: page.folder | append: "-grid.jpg" -%}
{%- assign year = site.time | date: "%Y" -%}
{%- assign copyright = "Image &copy; 2022 &mdash; " | append: year | append: " DSW Galleries, LLC. All rights reserved." -%}
{%- assign printurl = site.galleryhome | append: page.printurl -%}
{%- assign prevTitle = "" -%}
{%- assign nextTitle = "" -%}

{%- if page.previous.url -%}
    {%- assign prev = site.baseurl | append: page.previous.url -%}
{%- else -%}
    {%- assign prev = site.baseurl | append: "/gallery" -%}    
    {%- assign prevTitle = "Gallery" -%}
{%- endif -%}

{%- if page.next.url -%}
    {%- assign next = site.baseurl | append: page.next.url -%}
{%- else -%}
    {%- assign next = site.baseurl | append: "/gallery" -%}    
    {%- assign nextTitle = "Gallery" -%}
{%- endif -%}

{%- assign types = site.gallery | group_by: 'type' | sort: 'lastCapture' | reverse -%}
{%- assign cats = types | sort: 'name' -%}
{%- assign prevUrl = "" -%}
{%- assign nextUrl = "" -%}
{%- assign curItem = "" -%}

{%- for group in cats -%}
    {%- if group.name == page.type -%}
        {%- assign subitems = group.items | sort : 'lastCapture' | reverse -%}
        {%- for item in subitems -%}
            {%- if item.url == page.url -%}
                {%- assign curItem = item.title -%}
            {%- endif -%}
            {%- if curItem == "" -%}
                {%- assign prevTitle = item.title -%}
                {%- assign prevUrl = site.baseurl | append: item.url -%}
            {%- endif -%}
            {%- if curItem == "" -%}
            {%- else -%}
            {%- if nextTitle == "" -%}
            {%- if curItem == item.title -%}
                    {%- else -%}
                        {%- assign nextTitle = item.title -%}
                        {%- assign nextUrl = site.baseurl | append: item.url -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}
<section class="gallery-item-section" itemscope itemtype="https://schema.org/ImageObject">
<h3>{{page.title}}</h3>
<p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under:</p>
<p><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Attribution-NonCommercial-NoDerivatives 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a></p>
<p>If you wish to use the work for commercial purposes, <a href="{{ site.galleryhome }}/contact" alt="Send me a message directly." title="Send me a message directly.">contact me</a> with the details.</p>
<p><strong>Navigation</strong>: <span>
    <a class="prevUrl" href="{{ prevUrl }}" title="{{ prevTitle }}">{{ prevTitle }}</a>
    &nbsp;&laquo;&nbsp;
    <a href="/gallery" title="Gallery">Back to Gallery</a>
    &nbsp;&raquo;&nbsp;
    <a class="nextUrl" href="{{ nextUrl }}" title="{{ nextTitle }}">{{ nextTitle }}</a>    
</span></p>        
<div class="mainImages">
    <div class="mainImage">
        <a href="{{ mainImage }}" class="gallery-main-image-link" 
            title="View raw image: {{ page.title }}">
            <img src="{{ loadingImg }}" data-src="{{ mainImage }}" 
            alt="{{ page.title }}" itemprop="contentUrl" class="gallery-main-image" />   
        </a>
        <a class="share" data-title="{{page.title}}" data-folder="{{page.folder}}" href="#"><i class="fa fa-share"></i> Share this image.</a>
        {%- if page.astrobin and page.astrobin != "" -%}
<a class="astrobin" href="https://astrobin.com/{{ page.astrobin }}" target="_blank" title="View this image on Astrobin.">
    &nbsp;<i class="fa fa-external-link"></i> View on Astrobin</a>
{%- endif -%} 
        {%- if page.noannotations != true -%}
        <img src="{{ annotated }}" class="preloader"/>
        <img src="{{ fullsize }}" class="preloader"/>
        <img src="{{ grid }}" class="preloader"/>
        {%- if page.nostars == true -%}
        <img src="{{ nostars }}" class="preloader"/>
        {%- endif -%}
        <select id="imageVariation" title="Choose the variation you'd like to see.">
            <option value="{{ mainImage }}" selected>Main image</option>
            <option value="{{ annotated }}">Annotated</option>
            <option value="{{ fullsize }}">Annotated (scaled)</option>
            <option value="{{ grid }}">Grid overlay</option>
            {%- if page.nostars == true -%}
            <option value="{{ nostars }}">Starless version</option>
            {%- endif -%}
        </select>
        {%- endif -%}        
    </div>
</div>
<br class="clear"/>
<small>{{copyright}}</small>
<div class="info">
    <div class="attrs">
        {%- if page.signature -%}
            <p class="attr"><i class="fa fa-star"></i> This image is included in our <a href="{{ site.baseurl | append : '/gallery?signature=true'}}">signature series</a>.</p>
        {%- endif -%}
        {%- if page.printurl != "" and page.printurl != nil -%}
            {%- assign chars = page.printurl | size -%}
            {%- if chars > 0 -%}
                <p class="attr"><i class="fa fa-bookmark"></i> This work is part of our <a href="{{ printurl }}">art collection</a>.</p>
            {%- endif -%}
        {%- endif -%}
    </div> 
    <div class="lg-column">
        <p class="imageDescription">{{ page.description }}</p>
        {%- if page.wwt -%}
            <p class="attr"><i class="fa fa-globe"></i> See where this image is located in space via the <a href="{{ page.wwt }}" target="_blank">WorldWide Telescope</a>.</p>
        {%- endif -%}

        {%- assign traits =
            "telescope|length|aperture|sessions|firstCapture|lights|exposure|ra|dec|size|radius|scale" |
            split: "|" -%}
            {%- assign focallength = page.length | replace: "mm", "" | to_integer -%}
            {%- assign aperture = page.aperture | replace: "mm", "" | to_integer -%}
            {%- assign fstop = 0 -%}
            {%- if aperture > 0 -%}
                {%- assign fstop = focallength | divided_by: aperture -%}
                {%- assign fdecimal = focallength | modulo: aperture | multiply_by: 10 | divide_by: aperture -%}
            {%- endif -%}
            {%- if page.noannotations == true -%}
                {%- assign traits =
                    "telescope|length|aperture|sessions|firstCapture|lights|exposure" |
                split: "|" -%}
            {%- endif -%}
                </div>
                <div class="lg-column">
            <h4>Image details</h4>
            <table class="table">
                {%- for trait in traits -%}
                {%- if trait == "firstCapture" or trait == "lastCapture" -%}
                {%- if trait == "firstCapture" -%}
                {%- if page.firstCapture -%}
                <tr>
                    <td class="text-right">
                        <strong>Captured:</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <span>{{page.firstCapture}}</span>
                        {%- if page.lastCapture -%}
                        <span> to {{page.lastCapture}}</span>
                        {%- else -%}
                        {%- endif }
                    </td>
                </tr>
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
                {%- else -%}
                <tr>
                    <td class="text-right">
                        <strong>{{trait | capitalize }}:</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <span id="data-{{trait}}">{{page[trait]}}</span>
                    </td>
                </tr>
                {%- if trait == "aperture" -%}
                <tr>
                    <td class="text-right">
                        <strong>F-stop:</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        f/{{fstop}}.{{fdecimal}}
                    </td>
                </tr>
                {%- endif -%}
                {%- if trait == "exposure" -%}
                {%- assign totalTime = page.exposure | times: page.lights | to_integer -%}
                {%- assign unit = "s" -%}
                {%- if totalTime > 60 -%}
                {%- assign unit = "m" -%}
                {%- assign totalTime = totalTime | divided_by: 60 -%}
                {%- if totalTime > 60 -%}
                {%- assign unit = "h" -%}
                {%- assign totalTime = totalTime | divided_by: 60 -%}
                {%- endif -%}
                {%- endif -%}
                {%- if totalTime > 0 -%}
                <tr>
                    <td class="text-right">
                        <strong>Total exposure:</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {{totalTime}} {{unit}}
                    </td>
                </tr>
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
                {%- endfor -%}
            </table>
    </div> 
    <a href="#dsw-top"><i class="fa fa-arrow-up"></i> Back to top.</a>
</div>
<h4>Tags</h4>
<div class="tagCloud">
{%- for tag in page.tags -%}
    {%- assign gtag = tag | strip | replace: ' ', '-' | remove: '(' | remove: ')' | downcase -%}
    {%- assign tagUrl = site.baseurl | append: "/tag/" | append: gtag  -%}
    <a id="data-tag-{{tag}}" class="tag" href="{{tagUrl}}" title="Related tag '{{tag}}'"><i class="fa fa-tag"></i> {{tag}}</a>
{%- endfor -%}   
</div> 
{%- assign group = "" | split: "," -%}
{%- for groupItem in site.gallery -%}
    {%- if groupItem.group and groupItem.group == page.group and groupItem.folder != page.folder -%}
            {%- assign group = group | push: groupItem -%}
    {%- endif -%}
{%- endfor -%}
{%- assign groupCount = group | size -%}
{%- assign index = 1 -%}
{%- if groupCount > 0 -%}
    <h4>Related images</h4>
    <div class="relatedImages">
    {%- for galleryItem in group -%}
    <div id="imageThumb{{ index }}" class="imageThumb text-center">
        <a href="/gallery/{{ galleryItem.folder }}">
            <img src="{{ galleryItem.image }}" alt="{{ galleryItem.title }}"/>
            <strong>{{ galleryItem.title }}</strong>  
            <small class="jump">{{ galleryItem.lastCapture | slice: 0, 10 }}</small>
        </a>
    </div>
    {%- assign index = index | plus: 1 -%}
    {%- endfor -%}
</div>
{%- endif -%}
<script>
    window.dsw.category = "{{page.type}}";
    window.dsw.request(["gallery_detail.js", "forms.css", "gallery-detail.css"]);
</script>