---
layout: default
disqus: true
archive: false
---
{%- assign author = site.authors[page.author] -%}
{%- assign wordcount = page.content | number_of_words -%}
{%- assign readingTime = wordcount | divided_by: 250 -%}
{%- assign readingTimeText = readingTime | append: " minutes" -%}
{%- if readingTime < 2 -%}
    {%- assign readingTimeText = "about 1 minute" -%}
{%- endif -%}
<div class="main-article d-none">
<p class="post-stats">
    <small><i class="fa fa-calendar"></i> {{page.date|date: "%B %d, %Y"}}</small>
    <small><i class="fa fa-keyboard-o"></i> {{wordcount}} words</small>
    <small><i class="fa fa-clock-o"></i> {{readingTimeText}} to read</small>
</p>
<h2>{{ page.title }}</h2>
{%- if page.image -%}
<img class="feature-image" src="{%- if page.image contains "://" -%}{{ page.image }}{%- else -%}{{ site.baseurl }}/{{ page.image }}{%- endif -%}" alt="{{ page.title }}"/>
{%- endif -%}
<div class="article-post">
    {%- if page.toc -%}
        {%- if page.beforetoc -%}
            <p><em>{{page.beforetoc}}</em></p>
        {%- endif -%}
        <h3>Summary</h3>
        {%- include toc.html html=content -%}
    {%- endif -%}
    {{content}}
    <strong>Post <a href="/categories">categories</a>: </strong>
    <p class="categories">
    {%- assign sortedCategories = page.categories | sort -%}
    {%- for category in sortedCategories -%}
        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category }}">{{ category }}</a>        
    {%- endfor -%}
    </p>
    <strong>Related <a href="/tags">tags</a>: </strong>
    <p class="tags">                    
    {%- assign sortedTags = page.tags | sort -%}
    {%- for tag in sortedTags -%}
        {%- assign pTag = tag | strip | replace: ' ', '-' | remove: '(' | remove: ')' | downcase -%}
        <a class="smoothscroll" href="{{site.baseurl}}/tag/{{ pTag }}"><i class="fa fa-tag"></i>{{ tag }}</a>        
    {%- endfor -%}
    </p>
    <p>
        <a class="share" href="#"><strong><i class="fa fa-share"></i> Share this post</strong></a>
        <small>
            <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
            {%- if page.last_modified_at -%}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
            {%- endif -%}
        </small>
    </p>
    <p class="post-nav">
    {%- if page.previous.url -%}
        <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
    {%- endif -%}
    {%- if page.next.url -%}
        <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
    {%- endif -%}
    </p>
</div>
        <!-- End Post -->

    </div>
</div>
{%- if page.comments == true  -%}
{%- include disqus.html url=page.url id=page.id -%}
{%- endif -%}
</div> 
<script>
window.dsw.request(["post.css", "post.js"]);
</script>