<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    <link type="application/atom+xml" rel="alternate" href="{{ site.baseurl }}/gallery.xml" title="Photographs of deep sky objects: nebulae, galaxies, stars and star clusteres, plus planets and Milky Way pictures." />
    {% seo %}
    {% if page.image %}
        <link ref="twitter:image:src" content="{{ site.baseurl }}/{{ page.image }}"/>
    {% endif %}
    {% if page.description %}
        <link ref="twitter:description" content="{{ page.description }}"/>
    {% endif %}
    {% feed_meta %}
    <link href="{{ site.baseurl }}/assets/css/slideshow.css" rel="stylesheet">
    <title>{{ page.title }} | {{site.name}}</title>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
</head>
<body>
    <div id="notifyDiv" class="d-none"></div>    
    <div id="titleDiv" class="d-none">Slideshow</div>
    <div id="descriptionDiv" class="d-none">Description</div>
    <div id="controlPanelDiv" class="d-none">
        <p><button id="spaceBtn">SPACE</button>&nbsp;<label for="spaceBtn">Toggle STOP/PLAY</label></p>
        <p><button id="enterBtn">ENTER</button>&nbsp;<label for="enterBtn">Skip to next slide</label></p>
        <p><label for="leftBtn">Slower</label>&nbsp;<button id="leftBtn">LEFT ARROW</button>&nbsp;
            <button id="rightBtn">RIGHT ARROW</button>&nbsp;<label for="rightBtn">Faster</label></p>
        <p><button id="titleBtn">T</button>&nbsp;<label for="titleBtn">Hide title</label>
            <button id="descriptionBtn">D</button>&nbsp;<label for="descriptionBtn">Hide description</label></p>
        <p><button id="backBtn">BACKSPACE</button>&nbsp;<label for="backBtn">Back to filters</label></p>
        <p><button id="homeBtn">HOME</button>&nbsp;<label for="homeBtn">Home</label></p>
        <p><button id="controlBtn">?/</button>&nbsp;<label for="controlBtn">Toggle this display</label></p>
        <p class="controlStatus" id="time">Delay: <span id="delay">5000ms</span>.</p>
        <p class="playing d-none">PLAYING</p>
        <p class="stopped d-none">STOPPED</p>
    </div>
    <div id="controlSwitchDiv" class="d-none"><span title="settings" alt="settings">⚙</span></div>
    <div id="slides">
        {% assign itemIdx = 1 %}
        {% assign telescopeArray = '' | split: ',' %}
        {% assign typeArray = '' | split: ',' %}
        {% for item in site.gallery %}
            {% if item.type != null %}
            {% assign thumbPath = site.baseurl | append: "/assets/images/gallery/" | append: item.folder | append: "/thumb.jpg" %}
            {% assign imagePath = site.baseurl | append: "/assets/images/gallery/" | append: item.folder | append: "/" | append: item.folder | append: ".jpg" %}
            {% assign telescopeArray = telescopeArray | push: item.telescope %}
            {% assign typeArray = typeArray | push: item.type %}
            {% assign typeSlug = item.type | slugify %}
            {% assign teleSlug = item.telescope | slugify %}
            <img id="image-{{itemIdx}}" 
                data-url="{{imagePath}}" 
                data-thumb="{{thumbPath}}"
                data-folder="{{item.folder}}"
                data-type="{{typeSlug}}"
                data-telescope="{{teleSlug}}" 
                data-signature="{{item.signature}}"
                data-title="{{item.title}}"
                data-description="{{item.description}}"/>
            {% assign itemIdx = itemIdx | plus: 1 %}
            {% endif %}
        {% endfor %}
        {% assign uniqueScopes = telescopeArray | uniq | sort %}
        {% assign uniqueTypes = typeArray | uniq | sort %}
    </div>
    <div id="filter">
        <div class="head">Slideshow Setup</div>
        <div class="form-field">
            <input id="signature" type="checkbox"/>
            <span class="label">Signature series only?</span>            
        </div>
        <div class="divider">&nbsp;</div>
        <div class="label">Choose categories: <a href="#" id="categoryAll">Select all</a>&nbsp;<a href="#" id="categoryNone">Select none</a></div>
        <div id="categories" class="group">
            {% for category in uniqueTypes %}
            <div class="form-field">
                {% assign catid = category | slugify %}
                <input id="{{catid}}" type="checkbox" checked="checked"/>
                <span class="categorySpan">&nbsp;{{category}}</span>&nbsp;
            </div>
            {% endfor %}
        </div>
        <div class="divider">&nbsp;</div>
        <div class="label">Choose scopes: <a href="#" id="scopeAll">Select all</a>&nbsp;<a href="#" id="scopeNone">Select none</a></div>
        <div id="telescopes" class="group">
            {% for scope in uniqueScopes %}
            <div class="form-field">
                {% assign teleid = scope | slugify %}
                <input id="{{teleid}}" type="checkbox" checked="checked"/>
                <span class="telescopeSpan">&nbsp;{{scope}}</span>&nbsp;
            </div>
            {% endfor %}
        </div>
        <div class="divider">&nbsp;</div>
        <button id="go">Start Slideshow</button>
        <div class="divider">&nbsp;</div>
    </div>
    <div id="preview"></div>
    <div id="slideshow"></div>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/slideshow.js"></script>
</body>
</html>