---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="container container-fluid w-100">
    <div class="row">
           {% assign tags = page.name | split: '.' %}
            {% assign tag = tags[0] | downcase | replace : '-', ' ' %}
            {% assign subitems = site.gallery | sort: "title" %}
            {% assign itemCount = 0 %}
            {% assign itemIndex = 1 %}
            {% for item in subitems %}        
            {% assign itemTags = item.tags | join: "~~~" | downcase %}
            {% if itemTags contains tag %}
                {% assign itemCount = itemCount | plus: 1 %}
                {% assign mainUrl = site.baseurl | append: item.url %}
                {% assign thumbPath = site.baseurl | append: "/assets/images/gallery/" | append: item.folder | append: "/thumb.jpg" %}
                    <div style="min-width: 300px; max-width: 400px;" class="card col gallery-card float-left m-2" data-url="{{item.url}}" data-telescope="{{item.telescope}}" data-signature="{{item.signature}}">
                        <a href="{{mainUrl}}" title="{{item.description}}" tabindex="{{itemCount}}">
                            <img class="card-img-top gallery-img" id="image-{{itemIndex}}" src="{{thumbPath}}" alt="{{item.description}}">
                            {% assign itemIndex = itemIndex | plus: 1 %}
                        </a>
                        <div class="card-header bg-dark text-center">
                            {% if item.signature ==  true %}
                            <span title="Signature Series">⭐</span>
                            {% endif %}
                            <a href="{{mainUrl}}" title="{{item.description}}">{{item.title}}</a>
                        </div>                
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% assign posts = site.posts | sort: "title" %}
            {% assign itemCount = 0 %}
            {% assign itemIndex = 9000 %}
            {% for post in posts %}  
            {% assign postTags = post.tags | join: "~~~" | downcase %}
            {% if postTags contains tag %}
            {% assign itemCount = itemCount | plus: 1 %}
            {% assign mainUrl = site.baseurl | append: post.url %}            
            {% assign thumbPath = site.baseurl | append: "/" | append: post.image %}
            <div style="min-width: 300px;" class="card col gallery-card float-left m-2" data-url="{{post.url}}">
                <a href="{{mainUrl}}" title="{{post.description}}" tabindex="{{itemCount}}">
                    <img class="card-img-top gallery-img" id="image-{{itemIndex}}" src="{{thumbPath}}" alt="{{post.description}}">
                    {% assign itemIndex = itemIndex | plus: 1 %}
                </a>
                <div class="card-header bg-dark text-center">
                    <a href="{{mainUrl}}" title="{{post.description}}">{{post.title}}</a>
                </div>                
            </div>
            {% endif %}
            {% endfor %}
        </div>
</div>
