---
title: "Tags"
layout: default
permalink: "/tags"
---
{% assign post = "" | split: "," %}
{% assign taglist = "" | split: "," %}
{% for item in site.gallery %}
    {% for tag in item.tags %}
        {% assign gtag = tag | capitalize | strip %}
        {% assign post = post | push: item %}
        {% assign taglist = taglist | push: gtag %}                    
    {% endfor %}    
{% endfor %}
{% for item in site.posts %}
    {% for tag in item.tags %}
        {% assign ptag = tag | capitalize | strip %}
        {% assign post = post | push: item %}
        {% assign taglist = taglist | push: ptag %}                    
    {% endfor %}        
{% endfor %}
{% assign sortedTags = taglist | uniq | sort %}
{% assign sortedPosts = post | uniq | sort: "title" %}
{% assign sortedGallery = gallery | uniq | sort: "title" %}
<div class="container-fluid">
    <div class="article-post m-3">
        {{ content }}
    </div>
    <a name="top"></a>
    <div class="row">
        <div class="col">
            {% for tag in sortedTags %}
                {% unless tag == empty %}
                <a href="{{ site.baseurl }}/tag/{{ tag  | strip | replace: ' ', '-' | remove: '(' | remove: ')' | downcase }}" class="badge badge-primary badge-small m-2">
                    <span>{{ tag }}</span>
                </a>
                {% endunless %}
            {% endfor %}
        </div>       
    </div>     
</div>
