---
layout: default
---
<div class="section-title">
    <h2><a href="/videos">Videos</a>&nbsp;&raquo;&nbsp;<span>{{ page.title }}</span></h2>
    <small><i class="fa fa-calendar"></i>&nbsp;{{ page.date | date_to_string }}
            {%- if page.last_modified_at -%}
            (Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})
            {%- endif -%}</small>                   
</div>
            
<div class="article-post">
    <p>{{page.description}}</p>
    {%- include youtube_subscribe.html -%}
    <div id="player">
        {%- include youtube.html code=page.youtubeid title=page.title -%}
    </div>
    <p><a href="https://youtu.be/{{page.youtubeid}}" target="_blank" alt="{{page.description}}"
            title="{{page.description}}">
            <i class="fa fa-youtube"></i>&nbsp;
            {{page.title}}
        </a></p>                
        {{content}}        
</div>    
<div class="after-post-tags">
    <strong>Tags:</strong>        
    {%- assign sortedTags = page.tags | sort -%}
    {%- for tag in sortedTags -%}
        {%- assign pTag = tag | strip | replace: ' ', '-' | remove: '(' | remove: ')' | downcase -%}
        <a class="smoothscroll" href="{{site.baseurl}}/tag/{{ pTag }}"><i class="fa fa-tag"></i>{{ tag }}</a>
    {%- endfor -%}
</div>
       
</section>
<script>
    window.dsw.request(["video.css"]);
</script>